# Create a list and perform the following methods
1) insert()
2) remove()
3) append()
4) len()
5) pop()
6) clear()

In [1]:
a=[1,3,5,6,7,[3,4,5],"hello"]
print(a)
a.insert(3,20)
print(a)
a.remove(7)
print(a)
a.append("hi")
print(a)
len(a)
print(a)
a.pop()
print(a)
a.pop(6)
print(a)
a.clear()
print(a)

[1, 3, 5, 6, 7, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, 7, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello', 'hi']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello', 'hi']
[1, 3, 5, 20, 6, [3, 4, 5], 'hello']
[1, 3, 5, 20, 6, [3, 4, 5]]
[]

# Write a python program to add two numbers.

In [2]:
a=int(input("enter the value for a"))
b=int(input("enter the value for a"))
c=a+b
print("The sum of a and b is",c)

enter the value for a2
enter the value for a4
The sum of a and b is 6

# Write a python program to get python version.

In [6]:
import sys
print("System version is:")
print(sys.version)
print("Version Information is:")
print(sys.version_info)

System version is:
3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]
Version Information is:
sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)

# A) Write a python program to print date, time for today and now.

In [7]:
import datetime
a=datetime.datetime.today()
b=datetime.datetime.now()
print(a)
print(b)

2024-03-18 05:40:22.222642
2024-03-18 05:40:22.222752

# A) Using a numpy module create an array and check the following:
1. Type of array 2. Axes of array
3. Shape of array 4. Type of elements in array

In [9]:
import numpy as np
arr=np.array([[1,2,3],[4,2,5]])
print("Array is of type:",type(arr))
print("no.of dimensions:",arr.ndim)
print("Shape of array:",arr.shape)
print("Size of array:",arr.size)
print("Array stores elements of type:",arr.dtype)

Array is of type: <class 'numpy.ndarray'>
no.of dimensions: 2
Shape of array: (2, 3)
Size of array: 6
Array stores elements of type: int64

# A) Write a python program to concatenate the dataframes with two different objects.

In [10]:
import pandas as pd
one=pd.DataFrame({'Name':['teju','gouri'],
'age':[19,20]},
index=[1,2])
two=pd.DataFrame({'Name':['suma','nammu'],
'age':[20,21]},
index=[3,4])
print(pd.concat([one,two]))

    Name  age
1   teju   19
2  gouri   20
3   suma   20
4  nammu   21

# Write a program to demonstrate different number data types in Python.

In [23]:
a = 5
print(a, "is of type", type(a))
a = 2.0
print(a, "is of type", type(a))
a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

# Write a program to perform different Arithmetic Operations on numbers in Python.

In [24]:
x = 15
y = 4
# Output: x + y = 19
print('x + y =',x+y)
# Output: x - y = 11
print('x - y =',x-y)
# Output: x * y = 60
print('x * y =',x*y)
# Output: x / y = 3.75
print('x / y =',x/y)
# Output: x // y = 3
print('x // y =',x//y)
# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

# Write a program to create, concatenate and print a string and accessing sub-string from a given string

In [25]:
# all of the following are equivalent
my_string = 'Hello'
print(my_string)
my_string = "Hello"
print(my_string)
my_string = '''Hello'''
print(my_string)
# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
 the world of Python"""
print(my_string)
c=" mlritm"
print(my_string+c)
# substring function
print(my_string[5:11])

Hello
Hello
Hello
Hello, welcome to
 the world of Python
Hello, welcome to
 the world of Python mlritm
, welc

# Write a python script to print the current date in the following format “Sun May 29 02:26:23 IST 2017”

In [26]:
from datetime import date
today =date.today()
# dd/mm/YY
d1 =today.strftime("%d/%m/%Y")
print("d1 =", d1)
# Textual month, day and year
d2 =today.strftime("%B %d, %Y")
print("d2 =", d2)
# mm/dd/y
d3 =today.strftime("%m/%d/%y")
print("d3 =", d3)
# Month abbreviation, day and year
d4 =today.strftime("%b-%d-%Y")
print("d4 =", d3)

d1 = 18/03/2024
d2 = March 18, 2024
d3 = 03/18/24
d4 = 03/18/24

# Write a program to create, append, and remove lists in python.

In [27]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')
# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)
# Output: 'o'
print(my_list.pop(1))
# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)
# Output: 'm'
print(my_list.pop())
# Output: ['r', 'b', 'l', 'e']
print(my_list)
my_list.clear()
# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

# Write a program to demonstrate working with tuples in python.

In [28]:
# empty tuple
# Output: ()
my_tuple = ()
print(my_tuple)
# tuple having integers
# Output: (1, 2, 3)
my_tuple = (1, 2, 3)
print(my_tuple)
# tuple with mixed datatypes
# Output: (1, "Hello", 3.4)
my_tuple = (1, "Hello", 3.4)
print(my_tuple)
# nested tuple
# Output: ("mouse", [8, 4, 6], (1, 2, 3))
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)
# tuple can be created without parentheses
# also called tuple packing
# Output: 3, 4.6, "dog"
my_tuple = 3, 4.6, "dog"
print(my_tuple)
# tuple unpacking is also possible
# Output:
# 3
# 4.6
# dog
a, b, c = my_tuple
print(a)
print(b)
print(c)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
(3, 4.6, 'dog')
3
4.6
dog

# Write a program to demonstrate working with dictionaries in python.

In [29]:
my_dict = {'name':'Jack', 'age': 26}
# Output: Jack
print(my_dict['name'])
# Output: 26
print(my_dict.get('age'))
# Trying to access keys which doesn't exist throws error
# my_dict.get('address')
# my_dict['address']

Jack
26

# Write a python program to find largest of three numbers.

In [30]:
# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12
# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
 largest = num1
elif (num2 >= num1) and (num2 >= num3):
 largest = num2
else:
 largest = num3
print("The largest number between",num1,",",num2,"and",num3,"is",largest)

The largest number between 10 , 14 and 12 is 14

# Write a Python program to convert temperatures to and from Celsius, Fahrenheit. [Formula : c/5 = f-32/9 ]

In [31]:
# Python Program to convert temperature in celsius to fahrenheit
# change this value for a different result
celsius = 37.5
# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

# Write a program that accepts the lengths of three sides of a triangle as inputs. The program output should indicate whether or not the triangle is a right triangle (Recall 63 from the Pythagorean Theorem that in a right triangle, the square of one side equals the sum of the squares of the other two sides).

In [37]:
# Python Program to find the area of triangle
a = 5
b = 6
c = 7
# Uncomment below to take inputs from the user
# a = float(input('Enter first side: '))
# b = float(input('Enter second side: '))
# c = float(input('Enter third side: '))
# calculate the semi-perimeter
s = (a + b + c) / 2
# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 14.70

# Write a python program to define a module and import a specific function in that module to another program.

In [39]:
# Python Program to find numbers divisible by thirteen from a list using anonymous function
# Take a list of numbers
my_list = [12, 65, 54, 39, 102, 339, 221,]
# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))
# display the result
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

# Write a program that inputs a text file. The program should print all of the unique words in the file in alphabetical order.

In [44]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordszeenat, zahid, zuhaib
 zahid, zuhaib,zeenat